*,html{
    box-sizing: border-box;
}

@media only screen and (min-width: 1500px){

    .customer-container{
        margin-left: 10rem;
        margin-right : 10rem;
    }
}

.register{
    margin-top:1em;
}

.container-home{
    height: 100vh;
}
